html, body {
  padding: 0;
  margin: 10px;
  height: 100%;
  overflow: hidden;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 45px 45px 0;
  position: relative;
}

.qvplaceholder {
	flex: 1 1 auto;
	height: 40vh;
	min-width: 40vw;
	margin: 45px 0 0 45px;
  position: relative;
}